@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    font-family: system-ui, ui-sans-serif, sans-serif;
    background-color: rgb(241 245 249);
    color: rgb(15 23 42);
    
    /* Native-like behavior */
    overscroll-behavior-y: none; /* Prevent pull-to-refresh / bounce effect */
    -webkit-tap-highlight-color: transparent; /* Remove grey tap highlight */
    -webkit-touch-callout: none; /* Disable callout menu */
  }
}

/* Utilities for safe areas */
@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
  .pt-safe {
    padding-top: env(safe-area-inset-top);
  }
}
